#shrift
{
    font-size: 10px;
    color: black;
    font-family: Helvetica Neue;
}

#titleShrift
{
    font-size: 50px;
    color: black;
    font-family: Helvetica Neue;
}

#pictures
{
    margin-top: 50px;
    margin-bottom: 50px;
}

