{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1> </h1>
  <div class="titleShrift">
      <p class="titleShrift"><b> Информация о кафедре ИРИТ-РтФ </b><br></p>
  </div>
    <body>
    <div class="shrift">


      В институте ведётся подготовка по очной форме обучения, а также по очно-заочной
      и заочной ускоренной формам обучения.<br>
      Институт ведет прием как на бюджетную основу (более 1200 бюджетных мест), так и на контрактную.
      Гибкий график учёбы.
      Предоставляется отсрочка от армии.<br>
        <br>
        Главным преимуществом нашего института является проектное обучение и индивидуальные образовательные траектории.
      Благодаря ним, у студента есть возможность решить:<br>
        <br>
Как ему изучать предмет: углубленно или на базовом уровне
Где изучать: с помощью онлайн-курсов дома, в аудитории университета или же все вместе<br>
Индивидуальный учебный план позволяет нашим студентам чувствовать себя максимально комфортно, что приводит
      к улучшению успеваемости и максимальной вовлеченности в образовательный процесс.<br>
      Он позволяет сосредоточиться на действительно важных и интересных для студента вещах, способствует самореализации.<br>
<br>
Возможность применить теоретические знания, полученные студентом на лекциях, существует уже с первого курса.<br>
      Благодаря широкому кругу партнеров УРФУ, проектная деятельность в нашем университете развивается и становится
      неотъемлемой частью учебной деятельности студента. Каждый может попробовать создать что-то уникальное, поработать
      в команде, выполнить задачу реального заказчика. Ежегодно студентами выполняется более 250 проектов.<br>
<br>
Институт радиоэлектроники и информационных технологий в рамках научно-технических проектов сотрудничает
      с ведущими предприятиями региона и страны. Благодаря взаимовыгодному сотрудничеству поддерживается
      на современном уровне техническое оснащение лабораторий и вычислительных классов.<br>
<br>
Тесные контакты с предприятиями региона позволяют студентам Института радиоэлектроники и информационных
      технологий проходить практику на крупнейших предприятиях Екатеринбурга и области.<br>
<br>
В институте каждый год проводится ярмарка вакансий, в которой участвуют сотни предприятий региона.<br>
<br>
Лучшие выпускники Института радиоэлектроники и информационных технологий продолжают своё обучение
      в аспирантуре УрФУ и УрО РАН.<br>
<br>
В настоящее время в ИРИТ-РТФ обучается более 3900 студентов, работает более 300 преподавателей,
      среди которых 14 академиков и членов-корреспондентов различных академий наук, 27 докторов
      и 127 кандидатов наук.<br>
        <br>

    </div>
    </body>
    </div>

{% endblock content %}
